*:focus {
    outline: none;
}

.noContent {
 cursor: no-drop;
}

.employer{
    margin-top: 30px;
    font-size: 12px;
}

.want-to-see-more{
	display:none;
    justify-content: center;
    margin-top: 40px;
}

li {
    font-size: 18px;
    font-weight: 300;
}

/* loadmore trick css*/
.content {
    display:none;   
}
.projects .project-grid figure figcaption {padding:0 3px;}
	@media only screen and (max-width: 600px) { 
	.hero-body {padding: 0rem 1.5rem 8rem 1.5rem!important;}
	.navbar {display:none;}
}
/* loadmore trick css end */

#yearsOfWork{
    font-weight: 700;
    font-size: 20px;
}
/*  Top Right Button */
.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 17px;
  background-color: #222;
  padding: 10px 30px;
  margin: 0 auto;
}

.btn span {
  position: relative; 
  z-index: 1;
  color: #fff;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #2455c3;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/*  Projects Backgrounds */
.projects .project-grid .pobuca .overlay { background-color: #000000; }
.projects .project-grid .trikala .overlay { background-color: #08152d; }
.projects .project-grid .faliro .overlay { background-color: rgb(11, 60, 93); }
.projects .project-grid .entrasoft .overlay { background-color: #e72c13; }
.projects .project-grid .galatsi .overlay { background-color: #2455c3; }
.projects .project-grid .eosmed .overlay { background-color: #b6b0b0; }
.projects .project-grid .addo .overlay { background-color: #ef005f; }
.projects .project-grid .karditsa .overlay { background-color: #222; }
.projects .project-grid .agiavarvara .overlay { background-color: #028397; }
.projects .project-grid .psomas .overlay { background-color: #603813; }
.projects .project-grid .deyah .overlay { background-color: #acd7a1; }
.projects .project-grid .sales .overlay { background-color: #CC933A; }
.projects .project-grid .gerbe .overlay { background-color: #3c5ce0; }
.projects .project-grid .autentico .overlay { background-color: #f0bc54; }
.projects .project-grid .dimitristselios .overlay { background-color: #000000; }
.projects .project-grid .cocacola .overlay { background-color: #de0a1c; }
.projects .project-grid .medosis .overlay { background-color: #46c97f; }
.projects .project-grid .diros .overlay { background-color: #ffaf00; }
/*  Projects Backgrounds End */

.section.startups .startup-grid .box img.logo {
    height: auto;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
}

.section.startups {
    padding-bottom: 0!important;
}

.avatar { border-radius: 50%;}










